<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="padding: 1rem">
        <tr>
            <th style="text-align: start; font-size: 1.5rem;">
                Canine Blog
            </th>
        </tr>
        <tr>
            <td style="padding: 1rem 0; font-size: 1.2rem; max-width: 400px;">
                <span style="font-weight: bold; font-size: 1.2rem;">{{ full_name }}</span>, thank you for subscribing to our newsletter!
            </td>
        </tr>
        <tr>
            <td>
                <img style="width: 400px; height: auto; display: block;" src="https://pawpals.pythonanywhere.com/media/post_images/puppy_care_and_training.webp" alt="">
            </td>
        </tr>
        <tr>
            <td style="padding: 1rem 0; max-width: 400px; font-size: 1.2rem;">
                <p>
                    Thank you for subscribing to our newsletter. We are thrilled 
                    to welcome you to our community. Your support is incredibly valuable to us, 
                    and we look forward to keeping you up to date with our latest news.
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 1rem 0; max-width: 400px; font-size: 1.2rem;">
                If you have any questions or feedback, please do not hesitate to reach out to us.
            </td>
        </tr>
        <tr>
            <td style="padding: 1rem 0; max-width: 400px; font-size: 1.2rem;">
                Best regards,
                Canine Blog Team
            </td>
        </tr>
        <tr>
            <td style="padding: 1rem 0;">
                <a 
                    style="
                        padding:0.7rem 1.4rem; 
                        color: #ffffff; 
                        background: #ff4500; 
                        border-radius: 30px; 
                        text-decoration: none; 
                        font-size: 1.1rem;
                    " 
                    href="https://reactjs-pet-blog.netlify.app/"
                >
                    Visit Canine Blog
                </a>
            </td>
        </tr>
    </table>
</body>
</html>

